<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="/static/payment.css">
</head>
<body>

<div class="card">

<h2>💵 Payment Summary</h2>

<p><b>Pages:</b> {{ pages }}</p>
<p><b>Copies:</b> {{ copies }}</p>
<p><b>Type:</b> {{ color }}</p>

<h1>₹ {{ amount }}</h1>

<p>Payment: Cash on Delivery</p>

<form action="/confirm" method="POST">
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="mobile" value="{{ mobile }}">
    <input type="hidden" name="address" value="{{ address }}">
    <input type="hidden" name="pages" value="{{ pages }}">
    <input type="hidden" name="copies" value="{{ copies }}">
    <input type="hidden" name="color" value="{{ color }}">
    <input type="hidden" name="amount" value="{{ amount }}">

    <button type="submit">Confirm Order</button>
</form>

</div>

</body>
</html>